# Konfigurasi Database PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=aspas
DB_PASSWORD=password_database_anda
DB_PORT=5432

# Konfigurasi Server Backend
PORT=3000

# Konfigurasi Keamanan JWT (JSON Web Token)
JWT_SECRET=rahasia_jwt_super_aman_2024
